$image-width: 220px;
$image-height: 180px;

.gallery-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.selected-image-container {
    width: calc(100% - 220px);
    height: calc(100% - 300px);
    max-width: 1024px;
    position: relative;
    background-color: aliceblue;
    .author {
        position: absolute;
        bottom: 0;
        width: 100%;
        visibility: hidden;
        text-align: center;
        color: white;
        font-size: 32px;
    }
    img {
        width: 100%;
        height: 100%;
    }
}

.selected-image-container:hover .author {
    bottom: 20px;
    visibility: visible;
    transition: all .3s ease-in;
}

.carousel-container {
    width: calc(100% - 220px);
    height: calc(100% - 300px);
    max-width: 1024px;
}

