:host ::ng-deep p-carousel {
    .p-carousel-next, .p-carousel-prev {
      border: none;
      width: 100px;
      height: 200px;
      cursor: pointer;
    }
}

.image-container {
    cursor: pointer;
}