$image-width: 220px;
$image-height: 180px;

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    .left, .right {
        color: red;
        justify-self: center;
        align-self: center;
        cursor: pointer;
        font-size: 42px;
    }
    .images-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;
        width: calc($image-width * 3);
        border: 3px solid pink;
        overflow-x: scroll;
        overflow-y: hidden;
        cursor: pointer;

        .image-container {
            width: $image-width;
            height: $image-height;
            img {
                width: inherit;
                height: inherit;
            }
        }
    }
}